/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 *
 */
/*# sourceMappingURL=custom.css.map */


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(220, 220, 220);
  }
::-webkit-scrollbar{
    width: 12px;
    cursor:move;
    background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb{
    background-color: #d6d6d6;
}

table.dataTable td, table.dataTable th {
    border: 1px solid #dee2e6;
}
.dataTable{
    border: 1px solid #dee2e6!important;
    width: 100% !important;
    border-collapse: collapse  !important;
}
.table.dataTable.no-footer{
    border-collapse: collapse  !important;
}
.dataTable tbody tr:nth-of-type(odd) {
    background-color: rgb(106 73 73 / 2%);
}
.table.table-bordered td, .table.table-bordered th {
    border-color: #ddd;
}
.btn-secondary, .btn-secondary.disabled {
    /* box-shadow: 0 2px 6px #e1e5e8; */
    background-color: #6777ef;
    border-color: #6777ef;
    color: #fff;
    margin-right: 4px;
    border-radius: 7px !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled:active {
    background-color: #5360c0 !important;
    color: #fff !important;
}

.btn-second-secondary, .btn-second-secondary.disabled {
    box-shadow: 0 2px 6px #a9a9a9;
    background-color: #abaaaa;
    border-color: #abaaaa;
    color: #fff;
    margin-right: 4px;
    border-radius: 3px !important;
}

.btn-second-secondary:hover, .btn-second-secondary:focus, .btn-second-secondary:active, .btn-second-secondary.disabled:hover, .btn-second-secondary.disabled:focus, .btn-second-secondary.disabled:active {
    color: #fff !important;
    background-color: #5a5a5ade !important;
}

.order-item {
    background: #fff;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 8px rgb(233 233 233);
    width: 400px;
}
.order-item-image {
    border-radius: 5px;
    height: 70px !important;
    object-fit: cover;
    border: 1px solid #e6e6e6;
}
.order-item-name {
    padding: 5px;
    color: #5b656e;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 40px;
}

.sidebar-brand-sm a img{
    width: 30px;
}

.form-control, .input-group-text, .custom-select, .custom-file-label {
    background-color: #fdfdff;
    border-color: #aaa;
}

.bootstrap-tagsinput {
    border: 1px solid #aaa !important;
    box-shadow: inset 0 1px 1px rgb(255 255 255 / 8%) !important;
}
.media-image-frame {
    height: 160px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 3px solid rgb(243, 243, 243);
    position: relative;
    border-radius: 4px;
  }

  .media-image-frame img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: fill;
  }


  .media-image-frame span {
    font-family: arial, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    font-size: 12px;
  }

  .custom-control.image-checkbox .custom-control-input:checked~.custom-control-label:after, .custom-control.image-checkbox .custom-control-input:checked~.custom-control-label:before {
    opacity: 1;
    z-index: 200;
}

.media-image-frame .preview{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: white;
    background: rgba(15, 15, 15, 0.658);
    font-size: 12px;
    margin: 4px;
    width: 25px;
    border-radius: 4px;
    visibility: hidden;
    transform: 0.3s;
}

.media-image-frame:hover .preview{
    visibility: visible;
    transform: 0.3s;
}

.imgPrev{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: fill;
}

.imageCanvas{
    width: 100%;
    height: 80vh;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
}
.wsus_custom_overflow{
	overflow-x: auto;
}

